In [144]:
from sklearn.impute import SimpleImputer as smr
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split as tts
import pandas as pd
import numpy as np

In [219]:
df = {'People': ['yabs', 'kuki', 'lelti'] , 'color': ['black', 'red', 'green'], 'Size': ['L', 'M', 'S'], 'Grade':['class3','class2','class1']}

In [167]:
from sklearn.datasets import load_iris

In [188]:
df1 = load_iris() # iris dataset is a bunch object a dictionary-like object

In [189]:
X = pd.DataFrame(df1.data, columns = df1.feature_names)
species = [df1.target_names[i] for i in df1.target]
Y = pd.DataFrame(species, columns=["species"])

df1 = pd.concat([X, Y], axis=1)
#print(Y.head(20))
print(df1)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 5 columns]

In [180]:
df1.isnull()
df1.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

In [26]:
df1.dropna()
X = smr(strategy = 'mean')

In [28]:
new_data = X.fit_transform(df1.values)

In [31]:
new_data[:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [220]:
df = pd.DataFrame(df)
df.head(5)

  People  color Size   Grade
0   yabs  black    L  class3
1   kuki    red    M  class2
2  lelti  green    S  class1

In [103]:
ord_data = df[['Size']] 
# Transform data into 2D even if it has only one column
# With 1D data, it can be unclear if the input represents one sample with multiple features 
# or multiple samples with one feature. A 2D structure clarifies this distinction.
orc = OrdinalEncoder(categories=[['S','M','L']])
orc_size = orc.fit_transform(ord_data)
df['Size'] = orc_size

In [104]:
print(df)

  People  color  Size   Grade
0   yabs  black   2.0  class3
1   kuki    red   1.0  class2
2  lelti  green   0.0  class1

In [105]:
org_size = orc.inverse_transform(orc_size)
df['Size'] = org_size.flatten()
print(df)

  People  color Size   Grade
0   yabs  black    L  class3
1   kuki    red    M  class2
2  lelti  green    S  class1

In [106]:
lab = df['Grade']
ler = LabelEncoder()
lab_grade = ler.fit_transform(lab)
df['Grade'] = lab_grade
print(df)

  People  color Size  Grade
0   yabs  black    L      2
1   kuki    red    M      1
2  lelti  green    S      0

In [107]:
lab_inv = ler.inverse_transform(df['Grade'].values)
df['Grade'] = lab_inv
print(df)

  People  color Size   Grade
0   yabs  black    L  class3
1   kuki    red    M  class2
2  lelti  green    S  class1

In [217]:
dummy = pd.get_dummies(df['color'], prefix='', prefix_sep='')
dummy = dummy.astype(int)
df = pd.concat([df, dummy], axis=1)
print(df)

KeyError: 'color'

In [142]:
dummy = dummy.astype(str)
df.drop(['black', 'red', 'green'], axis=1, inplace=True)
print(df)

  People  color Size   Grade
0   yabs  black    L  class3
1   kuki    red    M  class2
2  lelti  green    S  class1

In [221]:
#ohe_grade = df['Grade'].values.reshape(-1,1)
ohe = OneHotEncoder()
ohe_g = ohe.fit_transform(df[['Grade']])
ohe_grade = pd.DataFrame(ohe_g.toarray(), columns=ohe.categories_[0])
df = pd.concat([df, ohe_grade], axis=1)
print(df)

  People  color Size   Grade  class1  class2  class3
0   yabs  black    L  class3     0.0     0.0     1.0
1   kuki    red    M  class2     0.0     1.0     0.0
2  lelti  green    S  class1     1.0     0.0     0.0

In [192]:
X_train, X_test, y_train, y_test = tts(X, Y, test_size = 0.3, random_state = 30, stratify = Y)